@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Bebas Neue', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}

.bird{
    --top: -200;
    width: 3rem;
    height: 3rem;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: calc(var(--top) * 1px);
    z-index: 1;
}

.allPipe{
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--piperight) * 1px);
    width: 10rem;
}

.pipeTop{
    position: absolute;
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
    width: 100%;
    background-color: blue;
}

.pipeBottom{
    position: absolute;
    bottom: 0;
    top: calc(100vh - (var(--hole-top) * 1px) + 250px);
    width: 100%;
    background-color: blue;
}

.displayCounter{
    font-size: 4rem;
    z-index: 1;
}

.text{
    font-size: 4rem;
    z-index: 1;
}

.hide{
    display: none;
}

@media only screen and (max-width: 800px) {
    .text{
        font-size: 2.5rem;
    }
    
    .allPipe{
        width: 4rem;

    }

    .displayCounter{
        font-size: 2.5rem;
    }
    
    .bird{
        width: 2rem;
        height: 2rem;
        left: 50px;
        top: calc(var(--top) * 1px);
        z-index: 1;
    }
}


