*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    background-color: rgb(25, 135, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.pipe{
    --right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--right) * 1px);
    width: 20rem;
    background-color: green;
}

.hole{
    --top: 0;
    position: absolute;
    top: calc(var(--top) * 1px);
    height: 200px;
    background-color:rgb(25, 135, 207);
    width: 200px;
}

.text{
    font-size: 3rem;
    color: white;
}

.hidden{
    display: none;
}

.bird{
    --top: -200;
    position: absolute;
    top: calc(var(--top) * 1px);
    left: 200px;
    width: 5rem;
    height: 5rem;
    background-color: orange;
    border-radius: 50%;
    z-index: 1;
}


@media only screen and (max-width: 1200px) {
    .bird{
        left: 30px;
    }

    .pipe{
        width: 100px;

    }



}